.main {
  width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.view {
  width: 600px;
  margin: auto;
  margin-top: 100px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.user-content {
  position: relative;
}

.image.is-square img {
  object-fit: cover;

}

.tags {
  margin: 0px !important;
  margin-top: 10px !important;
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .2s ease;
}

.user-content:hover>.overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.4;
}

.main {
  margin-top: 100px;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 300px 600px;
  grid-template-rows: 1fr;
  grid-gap: 22px 25px;
  grid-template-areas: "sidebar posts";
}

.sidebar {
  grid-area: sidebar;
}

.posts {
  grid-area: posts;
}



.profile {
  width: 1000px;
  margin: auto;
  margin-top: 100px;
}

.login,
.register {
  width: 400px;
  margin: auto;
  margin-top: 100px;
}

#preview {
  display: block;
  margin: auto;
}

.upload {
  width: 700px;
  margin: auto;
  margin-top: 100px;
}



.navbar {
  border-bottom: 1px solid lightgray;
}

.profile-avatar {
  height: 200px;
  width: 200px;
  padding: 21px;
}

.profile-info h1 {
  margin-bottom: 0px !important;
}

.profile-options {
  margin-top: 10px;
}

.image {
  border-radius: 20px;
}

hr {
  margin: 5px 0 !important;
}

.content-options {
  margin-bottom: 5px;
}

span.comment {
  margin-left: 5px;
}

.card-content {
  padding: 15px;
}

.card-header-content {
  padding: 21px;
}

.stats ul {
  padding: 0px;
  list-style: none;
  margin: 0px;
}

.stats li {
  display: inline;
  margin-right: 20px;
}

.comments ul {
  padding: 0px;
  list-style: none !important;
  margin: 0px;
  margin-bottom: 7px;
  overflow-y: scroll;
  max-height: 400px;
}

.comments li {
  padding: 0px !important;
  margin: 0px !important;
}

.comments .comment-username {
  font-weight: bold;
}

.like {
  float: right;
}

.card {
  margin-bottom: 50px;
}

.content-options time {
  float: right;
}